
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

html,body,#root, .app {
    height: 100%;
    width: 100%;
    font-family: 'Inter', sans-serif;
}
/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1e293b; /* Darker background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #4f46e5; /* Indigo accent */
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #6366f1; /* Lighter shade on hover */
  }
  